.cards {
  display: flex;
  gap: 25px;
  overflow-x: scroll;
  /* The overflow-x CSS property sets what shows when content overflows a block-level element's left and right edges */
  /* scroll: Overflow content is clipped if necessary to fit horizontally inside the element's padding box. Browsers display scroll bars in the horizontal direction whether or not any content is actually clipped */
}
