.task {
  width: 260px;
  height: 51px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 15px 10px;
  border-radius: 4px;
  box-shadow: 1px 1px gray;
}

.task-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -2%;
  color: #171717;
}

.task-flags {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 20px;
}

.task-flags-label {
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  letter-spacing: -2%;
  padding: 5px 4px;
  border-radius: 2px;
}

.task-flags-label__todo {
  color: white;
  background-color: #59b4d1;
}
