.task {
  width: 280px;
  height: 81px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 15px 10px;
  border-radius: 4px;
  box-shadow: 1px 1px gray;
}

.task-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -2%;
  color: #171717;
  margin: 0;
  padding: 0;
}
