.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px;
  border-bottom: 1px solid #26292d;
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 100%;
  z-index: 999;

  &-links {
    display: none;

    @media (min-width: 992px) {
      display: flex;
    }

    &-link {
      text-decoration: none;
      color: white;
      margin-left: 23px;
      position: relative;
      padding-bottom: 5px;
      font-weight: 500;
      &:hover {
        &::after {
          content: "";
          position: absolute;
          height: 3px;
          background-color: $primaryColor;
          width: 100%;
          bottom: 0;
          left: 0;
        }
      }
    }
  }

  &-menu {
    @media (min-width: 992px) {
      display: none;
    }
  }
}
