$backgroundColor: #171718;
$primaryColor: #5c62ec;

body {
  margin: 0;
  background-color: $backgroundColor;
  font-family: "DM Sans", serif;
}

button {
  border: none;
  background-color: transparent;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px;
  border-bottom: 1px solid #26292d;
}

.my-info {
  &-title {
    color: white;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    max-width: 265px;
    margin-left: auto;
    margin-right: auto;
    &-name {
      color: $primaryColor;
    }
  }
}
