$backgroundColor: #171718;
$primaryColor: #5c62ec;
$colorRellenos: #26292d;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $backgroundColor;
  font-family: "DM Sans", serif;
}

button {
  border: none;
  background-color: transparent;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px;
  border-bottom: 1px solid #26292d;
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 100%;
  z-index: 999;
}

.my-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  &-title {
    color: white;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    max-width: 265px;
    margin-bottom: 24px;
    &-name {
      color: $primaryColor;
    }
  }

  .button__solid {
    margin-bottom: 16px;
  }
}

.about {
  padding: 0px 16px 64px 16px;

  &-card {
    padding: 16px;
    border-radius: 8px;
    background-color: $colorRellenos;
    color: white;

    &-image {
      width: 100%;
      border-radius: 8px;
    }

    &-title {
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
    }

    &-description {
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.44px;
    }
  }
}

// Generic clases

.button {
  border-radius: 5px;
  height: 48px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;

  &__solid {
    background-color: $primaryColor;
    padding-left: 15.5px;
    padding-right: 15.5px;
  }

  &__outlined {
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
  }

  &-text {
    &__mr-left {
      margin-left: 8px;
    }

    &__mr-right {
      margin-right: 8px;
    }
  }
}
