h1 {
  font-size: 24px;
  color: #101820;
  background-color: #fee715;
  text-align: center;
  padding: 10px;
}

p {
  color: #fee715;
  background-color: #101820;
  font-size: 16px;
  padding: 10px;
}
