h1 {
  font-size: 24px;
  color: aquamarine;
  background-color: burlywood;
  text-align: center;
  padding: 10px;
}

p {
  color: burlywood;
  background-color: aquamarine;
  font-size: 16px;
  padding: 10px;
}
