h1 {
  color: red;
  font-size: 50px;
  font-weight: lighter;
  line-height: 100px;
  /* line-height sets the height of a line box in horizontal writing modes */
}

#main-section {
  border: 2px solid black;
  background-color: antiquewhite;
  padding: 20px;
  margin: 20px;
}

#logo-image {
  width: 200px;
  height: auto;
  /* height: auto; is default. Best practice -> Set only width */
  display: none;
}

.blue-square {
  background-color: aqua;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

/* Using CSS nesting: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_nesting/Using_CSS_nesting */
.blue-square p {
  color: red;
}
