.square {
  height: 200px;
  background-color: cadetblue;
  margin: 10px;
}

.square-text {
  text-align: center;
  font-size: 14px;
}

@media (min-width: 992px) {
  .all-squares {
    display: flex;
  }

  .square {
    flex-grow: 1;
  }

  .square-text {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .square-text {
    font-size: 16px;
  }
}
